/* Barra de menú */
* {
    padding: 0;
    margin: 0;
}

header {
    width: auto;
    height: 60px;
    padding: 0px 50px;
    background: white;
    box-shadow: rgba(168, 168, 168, 0.849);
    display: flex;
    justify-content: flex-start;
}
header ul {
    display: flex;
    list-style: none;
}

header ul li a {
    display: block;
    padding: 10px 105px;
    color: #737373;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}
header ul li:hover a {
    color: #313131;
    text-decoration: none;
    font-weight: bolder;
}

header ul ul {
    position: absolute;
    top: 60px;
    display: block;
    background-color: #d8dada94;
    border-radius: 0.6em;
    transform: translateX(4%);
    opacity: 0;
    transition: all.2s;
    padding: 0;
    font-family: "Microsoft Sans Serif";
}

.sub-menu {
    width: 295px;
    margin-left: 35px;
}

/* Animación en los sub menús e ícono*/
header ul li a span {
    transition: all.2s;
    padding: 7px;
}
header ul li a:hover span {
    transform: translateY(10px);
    opacity: 0;
}

header ul li:hover ul {
    opacity: 1;
    transform: translateX(0%);
}
header ul ul li:hover {
    padding: 0;
    transform: translateX(5%);
    transition: all.3s;
}

/* Información */
h1 {
    margin-top: 130px;
    font-family: "Bahnschrift SemiBold";
}

/* Tabla */
#info-servicios {
    margin-top: 80px;
    margin-bottom: 90px;
}
/* Agregar registro */
#add {
    float: right;
    margin-top: 80px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: large;
}
span #boton-add {
    font-size: 150%;
}

#table-info{
    margin-top: 20px;
    margin-bottom: 80px;
}

#table-info thead tr th {
    text-align: center;
}
#table-info tbody tr td {
    text-align: center;
}

/* Pie de página */
#pie-footer {
    background-color: #000;
    width: 100%;
    height: 50px;
    position: absolute;
}
.titulo-footer {
    color: #fff;
    text-align: center;
    padding: 0px;
    position: relative;
    top: 13px;
}